
# Maven build folder
/target/

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Maven Wrapper files/folder
.mvn/
mvnw
mvnw.cmd

# Temporary files
*.tmp
*.bak

# Groovy compiled classes
**/*.class

# Save to file data
output.txt